<mat-toolbar color="primary">
    <div>
        
    </div>
    <span>Magician School Education</span>

    <span class="spacer"></span>

    <button mat-button routerLink="/houses" class="ms-2">Houses</button>
    <button mat-button routerLink="/characters/all/all" class="ms-2">All characters</button>
    <button mat-button routerLink="/characters/students/all" class="ms-2">Students</button>
    <button mat-button routerLink="/characters/staff/all" class="ms-2">Teacher</button>       

</mat-toolbar>

<div class="container background">
    <router-outlet></router-outlet>
</div>